<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/gameInfo.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/navbar') %>
  <main>
    <div class="top-container">
      <%- include('partials/searchBar') %>
      <a class="add-game" href="add">Add Game</a>
      <a class="add-game-btn" href="add">+</a>
    </div>
    <h1><%= game.name %></h1>
    <div class="game-info">
      <div class="left-container">
        <div class="image-container">
          <img class="main-image" src="data:image/jpeg;base64,<%= game.imageBase64 %>" alt="<%= game.name %> Image">
        </div>
        <% if (game.categories.length !== 0) { %>
          <div class="category-container">
            <span class="category-header">Category</span>
            <div class="categories">
              <% game.categories.forEach((category) => { %>
                <span class="category"><%= category %></span>
              <% }) %>
            </div>
          </div>
        <% } %>
        <div class="description-container">
          <p><%= game.description %></p>
        </div>
      </div>
      <div class="right-container">
        <h1 class="game-name"><%= game.name %></h1>
        <h1 class="price">
          <% if (game.price == 0) { %>
            Free
          <% } else { %>
            $<%= game.price %>
          <% } %>
        </h1>
        <div class="buttons">
          <button class="buy-now">Buy Now</button>
          <button class="add-to-cart">Add to Cart</button>
          <button class="add-to-wishlist">Add to Wishlist</button>
        </div>
      </div>
    </div>
  </main>
</body>
</html>