<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/games.css">
</head>
<body>
  <%- include('partials/navbar') %>
  <main>
    <div class="main-container">
      <a class="add-game" href="games/add">Add Game</a>
      <h1>Discover</h1>
      <div class="container">
        <% games.forEach((game) => { %>
          <div class="card-container">
            <div class="image-container">
              <img src="data:image/jpeg;base64,<%= game.imageBase64 %>" alt="<%= game.name %> Image" />
            </div>
            <p class="game-name"><%= game.name %></p>
            <% if (game.price == 0) { %>
              <p class="game-price">Free</p>
            <% } else { %>
              <p class="game-price">$<%= game.price %></p>
            <% } %>
          </div>       
        <% }) %>
      </div>
    </div>
  </main>
</body>
</html>